.home .about {
  padding-bottom: 20px;
}
.home .about .about-backg {
  display: block;
  cursor: pointer;
  border: 2px solid #1f2931;
  background-color: #0c1419;
  padding: 50px 35px 130px;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.6px;
  transition: border-color 0.3s;

}
.home .about .title {
  font-size: 36px;
  padding: 60px 0;
  font-weight: 600;

}
.home .about .text {
  font-size: 15px;
}
.home .about .register-label {

  height: 48px;
  padding: 0 14px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}



.panel-default>.panel-heading {
  color: #ffffff;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  color: #27eedd;
  font-weight: 600;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}